<div class="container">
    <div class="col-50">
        <app-quiz-list
        [quizes]="filteredQuiz"
        (selected)="selectQuiz($event)"
        ></app-quiz-list>
    </div>
    <div class="col-50">
        
        <app-exams-results *ngIf="result; else examBlock"
        [result]="result">
        </app-exams-results>

        <ng-template #examBlock>
        
            <app-exams-details [exam]="exam"
            (evaluate)="evaluate($event)">
            </app-exams-details>
        
        </ng-template>
    </div>
</div>