<mat-card>

    <app-search (keyPress)="searched.emit($event)"></app-search>

    <mat-card-header>
      <mat-card-title>
        <h3>Projects</h3>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-list>
        <mat-list-item (click)="selected.emit(project)"
            *ngFor="let project of projects; let i = index">
          <div class="listItem">
            <span class="listItem__prefix">{{i+1}}. </span>
            <div mat-line class="listItem__main">
              <h3>{{project.title}}</h3>
              <p>{{project.description}}</p>
            </div>
          </div>
          <button *ngIf="project.user.id === currUser.id" mat-icon-button (click)="deleted.emit(project);$event.stopImmediatePropagation()">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>