<div class="container">
    <div class="col-50">
      <app-questions-list
      [questions] = "questions"
      [filter] = "filter"
      (selected) = "selectQuestion($event)"
      (searched) = "searchQuestion($event)">
    </app-questions-list>
    </div>

    <div class="col-50">
      <app-questions-details
      [currQuestion] = "selectedQuestion"
      (saved) = "saveQuestion($event)"
      (addedOption) = "addOption()"
      (canceled) = "cancel()">
    </app-questions-details>
    </div>
  </div>