<div>

    <app-search (keyPress)="searched.emit($event)"></app-search>
    

    <mat-card>
        <mat-card-header *ngIf="quizes">
            <h3 *ngIf="quizes[0].questions[0].correctOption; else examHeading">Quizes</h3>
            <ng-template #examHeading>
                <h3>Exams</h3>
            </ng-template>
        </mat-card-header>
        <mat-card-content>
            <mat-list>
                <mat-list-item (click)="selected.emit(quiz)"
                *ngFor="let quiz of quizes; let i = index">
                    <h3 mat-line>
                        {{quiz.title}}
                    </h3>
                    <p mat-line>
                        {{quiz.description}}
                    </p>
                    <p mat-line>
                        {{quiz.questions.length}} Questions
                    </p>
                    <mat-card-actions mat-line *ngIf="quizes" style="margin: 10px 0;">
                        <button  *ngIf="!quiz.questions[0].correctOption"  
                        type="button" mat-stroked-button color="warn"
                        (click)="checkResult.emit(quiz)"
                        >Check Result</button>

                        <button  *ngIf="!quiz.questions[0].correctOption"  
                        type="button" mat-stroked-button color="primary"
                        (click)="takeExam.emit(quiz)"
                        >Take Exam</button>

                    </mat-card-actions>
            </mat-list-item>
        </mat-list>
    </mat-card-content>
</mat-card>
</div>